
/* Navbar styling */

#brand {
    background-color: darkred;
    color: white;
}

nav {
    background-color: blue;
}

.navbar .nav-link, .navbar-brand, #hamburger-menu {
    color: white;
}

/* Headline section styling */

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}